@CHARSET "UTF-8";


@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

body{
    margin: 0;
   
}
/*큰박스*/
.bigbox{
    /*background-color: aqua;*/
    min-width: 1100px;
}

/*배너부분*/
.banner{
        background: rgba(227,224,197,16.9);
    
    /*background-color: firebrick;*/
    /*width: 62.38%;*/
    height: 123%;
    /*float: left;
    margin-left: 22.2%;*/
    left: 300px;
    right: 250px;
    position: absolute;
    
}

/*내용의 머리*/
.contents-head{
    
    width: 100%;
    /*height: 20%;*/
}
/*내용의 중간*/
.contents-middle{
    
    width: 100%;
    /*height: 70%;*/
    margin-top: -4%;
}

.contents-middle-left{
  
}
/*내용 중간의 맵과 글이 들어가는부분*/
.contents-middle-middle{
    
    /*width: 80%;*/
    width: 100%;
    /*height: 100%;*/
    /*float: left;*/
}
/*지도가 들어가는부분*/
.middle-map{
 
 width: 100%;
 height: 50%;
        
}
/*글내용이 들어가는부분*/
.middle-letter{
 
 width: 100%;
 height: 50%;
}    
.contents-middle-right{
    
    width: 20%;
    height: 100%;
    float: left;
}
.contents-footer{
    
    width: 60%;
    /*height: 10%;*/
    margin-top: 2%;
    margin-left: 20%;
     border: 1px solid black;
   border-radius: 10px
}
.contents-footer span{
    font-size: 30px;
    font-family: 'Nanum Brush Script', serif;
    font-weight: bold;
    text-align: center;
}
.contents-footer p{
    font-size: 25px;
    font-family: 'Nanum Brush Script', serif;
    text-align: center;
}
/*머리의 빈공간*/
.head-empty{
    
    width: 100%;
    /*height: 50%;*/
    height: 70px;
}
/*머리의 글 들어가는곳*/
.head-letter{
     
    width: 100%;
    /*height: 50%;*/
    height: 70px;
}
.head-letter p{
      font-family: 'Nanum Brush Script', serif;
    font-size: 45px;
       
}
.head-letter span{
      font-family: 'Nanum Brush Script', serif;
    font-size: 50px;
}

.wrap_map{
    height: 500px;
}
.container1 p{
    font-family: 'Nanum Brush Script', serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
/* .notice-middle-no{ */
    
/*     width: 20%; */
/*     height: 60px; */
/*     float: left; */
/*     font-family: 'Nanum Brush Script', serif; */
/*     font-size: 34px; */
/*     border-style: outset; */
/*     text-align: center; */
/*     border-radius: 34px; */
/* } */
.notice-middle-no1{
    
    width: 20%;
    height: 60px;
    float: left;
    font-family: 'Nanum Brush Script', serif;
    font-size: 34px;
    border-style: outset;
    text-align: center;
    border-radius: 34px;
}
/* .notice-middle-title{ */
     
/*     width: 60%; */
/*     height: 60px; */
/*     float: left; */
/*     font-family: 'Nanum Brush Script', serif; */
/*     font-size: 34px; */
/*     border-style: outset; */
/*     text-align: center; */
/*     border-radius: 34px; */
/* } */
.notice-middle-title1{
     
    width: 50%;
    height: 60px;
    float: left;
    font-family: 'Nanum Brush Script', serif;
    font-size: 34px;
    border-style: outset;
    text-align: center;
    border-radius: 34px;
}
/* .notice-middle-id{ */
     
/*     width: 20%; */
/*     height: 60px; */
/*     float: left; */
/*     font-size: 34px; */
/*     font-family: 'Nanum Brush Script', serif; */
/*     border-style: outset; */
/*     text-align: center; */
/*     border-radius: 34px; */
/* } */
.notice-middle-id1{
     
    width: 20%;
    height: 60px;
    float: left;
    font-size: 34px;
    font-family: 'Nanum Brush Script', serif;
    border-style: outset;
    text-align: center;
    border-radius: 34px;
}
.notice-deldel{
	width: 10%;
	height: 60px;
	float: left;
	 border-style: outset;
	 border-radius: 34px;
	
}
   body::-webkit-scrollbar { 
            display: none; 
        }
          .modal-header, h4, .close {
          background-color:  rgba(242, 160, 4, 0.56);
          color:white !important;
          text-align: center;
          font-size: 30px;
          }
      .modal-footer {
          background-color: #f9f9f9;
      }
        p {
            margin-bottom: 0;
        }
        body::-webkit-scrollbar { 
            display: none; 
        }
          .modal-header, h4, .close {
          background-color:  rgba(242, 160, 4, 0.56);
          color:white !important;
          text-align: center;
          font-size: 30px;
          }
      .modal-footer {
          background-color: #f9f9f9;
      }
        p {
            margin-bottom: 0;
        }

















